@using MVCDemoThing.Models;
@model List<Person>;

@{
    ViewData["Title"] = "People List";
}

<h1>List of all people</h1>

@if (Model.Count == 0)
{
    <p>No people have been added yet!</p>
}

<table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Favorite Color</th>
        <th>Second Favorite Color</th>
    </tr>

    <!--Creates a new table row per person in the people list-->
    <!--Model replaces ViewBag.people-->
    @foreach (Person person in Model)
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.Color1</td>
            <td>@person.Color2</td>
        </tr>
    }
</table>